body {
  color: #40514E;
  font-size: 2rem;
  margin: 0;
  text-align: center;
  font-family: 'Island Moments', cursive;
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Gulzar', serif;
}

h2 {
  font-weight: normal;
  font-size: 2.5rem;
  color: #66BFBF;
  font-family: 'Oswald', sans-serif;
}

h3 {
  color: #11999E;
  font-family: 'Oswald', sans-serif;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  margin: 100px 0;
}

.bottom-container {
  color: #11999E;
  background-color: #66BFBF;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

a {
  color: #11999E
}

.skill-row {
  text-align: left;
  margin: 100px auto 100px auto;
  width: 50%;
}

.code-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.chilli-img {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #66BFBF;
  background-image: -webkit-linear-gradient(top, #66BFBF, #11999E);
  background-image: -moz-linear-gradient(top, #66BFBF, #11999E);
  background-image: -ms-linear-gradient(top, #66BFBF, #11999E);
  background-image: -o-linear-gradient(top, #66BFBF, #11999E);
  background-image: linear-gradient(to bottom, #66BFBF, #11999E);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 2px #666666;
  -moz-box-shadow: 1px 1px 2px #666666;
  box-shadow: 1px 1px 2px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.copyright {
  color: #EAF6F6;
}

hr {
  border-style: dotted none none none;
  border-color: #EAF6F6;
  border-width: 10px;
  width: 5%;
  margin: 100px auto;
}

.footer-link {
  margin-left: 30px;
  margin-right: 30px;
  text-decoration: none;
}

.footer-link:hover {
  color: #EAF6F6;
}

.intro {
  width: 30%;
  margin: auto;
}

p {
  line-height: 2;
}
